<!DOCTYPE html>
<html class"index">
	<head>
    <title>RPS</title>
	  <link href="/style.css" rel="stylesheet">
  </head>

  <body class="index">
    <h1 class="index_h1">Rock, Paper and Scissors</h1> 
  	<a id="start" href='/game'><img class="index_image" src='/images/RockPaperScissors.jpg'></a>
	</body>

</html>