<!DOCTYPE html>
<html class="index">

  <head>  
    <title>RPS</title>
    <link href="/style.css" rel="stylesheet">
  </head>

  <body class="result">
    <section class ="player_choice">
      You chose: <span><%= @player_choice %></span></br>
    </section>
    <section class ="computer_choice">
      The computer chose: <span><%= @computer_choice %></span></br>
    </section>
    <section class="outcome">
      <%= @outcome %>!
    </section>
  </body>

</html>