<!DOCTYPE html>
<html>

  <head>  
    <title>RPS</title>
    <link href="/style.css" rel="stylesheet">
  </head>

  <body>
    You chose: <%= @player_choice %></br>
    The computer chose: <%= @computer_choice %></br>

    Outcome: <%= @outcome %>
  </body>

</html>