<!DOCTYPE html>
<html class="index">
	<head>
    <title>RPS</title>
	  <link href="/style.css" rel="stylesheet">
  </head>

  <body>
    <section class="wait_text_1">
      Please wait till your opponent
    </section>
    <img class="wait_image" src='/images/wait.jpg'>
    <section class="wait_text_2">
      makes a choice and then reload the page
    </section>
  </body>


</html>