<!DOCTYPE html>
<html class="index">

	<head>
    <title>RPS</title>
	  <link href="/style.css" rel="stylesheet">
  </head>

  <body>
    <section class="wait_text">
      Please wait till your opponent</br> makes a choice
    </section>
    <img class="wait_image" src='/images/wait.jpg'>
  </body>

</html>