/* ------------
  FRONT PAGE
---------------*/

.index {
  background-color: #66CDAA;
}

.index_h1 {
  color: #F5DEB3;
  font-family: "Andale Mono", "Lucida Console";
	margin: auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.index_image {
	width: 50%;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index_links {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.index_link {
  text-decoration: none;
  color: #F5DEB3;
  font-family: "Andale Mono", "Lucida Console";
  font-size: 80%;
  padding: 20px;

}

/* -------------
   GAME PAGE 
---------------*/

.name {
  color: #F5DEB3;
  font-family: "Andale Mono", "Lucida Console";
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 60px;
  font-size: 35px;
}

#placeholder {
  text-align: center;
  width: 200px;
  background-color: #66CDAA;
  font-size: 20px;
  border: none;
  border-bottom: dashed 1.5px #FFF;
  outline: none;
  padding: .3em;
  color: #F5DEB3;
  margin-bottom: .5em;
  opacity: .5;
}

/* -------------
     ICONS
--------------*/

.icons_section {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 35px;
}

.icons {
  width: 15%;
  border-radius: 15%;
  opacity: .6;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/* ------------
    RESULT
--------------*/

.result {
  text-align: center;
  color: #F5DEB3;
  font-family: "Andale Mono", "Lucida Console";
  margin: 3em;
  padding: 1em;
}

.player_choice {
  padding: 0.5em;
}
.computer_choice {
  padding: 0.5em;
}
.outcome {
  padding: 0.5em;
  border: 1px solid #FF00FF;
  margin: 5%;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  color: #008B8B;
  letter-spacing: 8px;
}
span {
  color: #E6E6FA;
}

#try_again {
  max-width: 10%;
  margin-top: 5%;
  padding-top: 0.5em;
  border-radius: 50%;
}
