/* ------------
  FRONT PAGE
---------------*/

.index {
  background-color: #66CDAA;
}

.index_h1 {
  color: #F5DEB3;
  font-family: "Andale Mono", "Lucida Console";
	margin: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.index_image {
	width: 50%;
  padding-top: 10px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}